@using EnglishQuestionApp.Models.Entities.Test
@model Test

@{
	ViewBag.Title = "Kayıt Ol";
	List<Question> testQuestion = new List<Question>();
	List<Option> questionOptions = new List<Option>();
}

<div class="container w-75">
	<div class="row p-5">
		<form method="post" asp-controller="Home" asp-action="Index">
			<select asp-for="@Model.Title" name="title" id="paragraphs" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
				@for (int i = 0; i < ViewBag.MostRecents.Count; i++)
				{
					<option value="@ViewBag.MostRecents[i].Title">@ViewBag.MostRecents[i].Title</option>
				}
			</select>
			<!-- Text -->
			<div class="card mb-5">
				<div id="paragraph-text" class="card-body">
					@Html.Raw(ViewBag.MostRecents[0].Paragraphs)
				</div>
			</div>
			<!-- Question Form -->
			@for (int i = 0; i < 4; i++)
			{
				<div class="p-0">
					<div class="mb-3">
						<textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
							  placeholder="Soru 1"></textarea>
					</div>
					<!-- Answers -->
				<div class="question-container">
						<div class="question mb-1">
							<textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
								  placeholder="A ) "></textarea>
						</div>
						<div class="question mb-1">
							<textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
								  placeholder="B ) "></textarea>
						</div>
						<div class="question mb-1">
							<textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
								  placeholder="C ) "></textarea>
						</div>
						<div class="question mb-2">
							<textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
								  placeholder="D ) "></textarea>
						</div>
					</div>
					<!-- Answers End-->
					<!-- Select Correct Answer -->
				<div class="w-25 mx-auto mb-5">
						<select class="form-select" aria-label="Default select example">
							<option selected>Doğru Cevap Seç</option>
							<option value="A">A</option>
							<option value="B">B</option>
							<option value="C">C</option>
							<option value="D">D</option>
						</select>
					</div>
					<!-- Select Correct Answer End -->
			</div>
				<!-- Question Form End -->
			}

			<div class="w-50 mx-auto mb-5">
				<button type="submit" class="w-100 btn btn-outline-primary">SINAV OLUŞTUR</button>
			</div>
		</form>
	</div>
</div>

@section Scripts
{

<script text->
	$(document).ready(function() {
		$('#paragraphs').change(function () {
			var textTitle = $(this).val();
			$.ajax({
				url: "/home/getText",
				type: "POST",
				data:{"textTitle": textTitle},
				error: function (request, status, error) {
					console.log(request);
				},
				success: function (response) {
					console.log(response);
					markup = response;
					paragraph = $("#paragraph-text");
					paragraph.empty();
					paragraph.append(markup);
				}
			});
		});
	});
</script>

}